KINDLE_IP=192.168.69.120
KINDLE_USER=root
SOURCE_DIR=/books/library
DEST_DIR=/mnt/us/documents
MIN_STORAGE_THRESHOLD=1
SSH_KEY_PATH=/app/keys/kindle_ed25519
SSH_TIMEOUT_SECONDS=12
PING_TIMEOUT_SECONDS=2
